ratchetFrom = "origin/main"

spotless {
    java {
        googleJavaFormat('1.18.1')
        lineEndings 'UNIX'
        removeUnusedImports()
        importOrder('java', 'javax', 'org', 'com', '')
        trimTrailingWhitespace()
        endWithNewline()
        formatAnnotations()
        licenseHeader '/* Copyright $YEAR */'
        toggleOffOn('formatter:off', 'formatter:on')
        maxLineLength 120
    }
    kotlin {
        ktfmt('0.44')
        lineEndings 'UNIX'
        trimTrailingWhitespace()
        endWithNewline()
    }
    format 'misc', {
        target '**/*.md', '**/*.yaml', '**/*.yml'
        trimTrailingWhitespace()
        indentWithSpaces(2)
        endWithNewline()
    }
}
